<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <script type="text/javascript">
    	function httpGetAsync(theUrl) {
				fetch(theUrl)
				.then(response => response.json())
				.then((data) => {
					document.querySelector("#myElement").innerHTML = JSON.stringify(data)
					alert(JSON.stringify(data))
				})
    	}

			httpGetAsync("http://localhost:5000/store")
    </script>
  </head>
  <body>
    <div id="myElement">
    	Hello, world!
    </div>
  </body>
</html>